.page.theme_dark {
  --bg-color: #000028;
  --tittle-header-color: #db00ff;
  --text-color: #f1b2ce;
  --tittle-section-color: #000028;
  --accent: #ff0070;
  background-image: url("../images/cover-image-dark.png");
}

.page.theme_dark .design__element {
  visibility: visible;
}

.page.theme_dark .angle::before {
  border-top: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}

.page.theme_dark .angle::after {
  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent);
}

.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent);
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid var(--accent);
}