@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --tittle-header-color: #ffc2e6;
    --decorated-title-color: #353430;
    --text-color: #353430;
    --tittle-section-color: #353430;
    --accent: #ff8dcb;
    --menu-header-color: #353430;
    --link-effects: #ff8dcb;
    --main-font: "IBM Plex mono";
    --bg-image: url("../images/cover-image-light.png");
    --border-color: rgba(50, 49, 45, 0.4);
  }

  .design__element {
    visibility: hidden;
  }
}

.page.theme_light {
  --bg-color: #fff1f7;
  --tittle-header-color: #ffc2e6;
  --decorated-title-color: #353430;
  --text-color: #353430;
  --tittle-section-color: #353430;
  --accent: #ff8dcb;
  --menu-header-color: #353430;
  --link-effects: #ff8dcb;
  --main-font: "IBM Plex mono";
  --bg-image: url("../images/cover-image-light.png");
  --border-color: rgba(50, 49, 45, 0.4);
}

.page.theme_light .design__element {
  visibility: hidden;
}
